* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            overflow-x: hidden;
            background-color: black;
       //     background-image: url('back.png');
            //background-size: cover;
           // background-position: top center;
        }
.container{
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
  display: grid;
  grid-template-columns:30% auto;
}
.ulnav{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 7%;
  padding:4% 15% 0 0;
  font-size: 30px;
}
.item{
  padding-left: 10%;
}
.items{
  color:white;
  font-size: 30px;
  justify-content: flex-end;
}
img{
  height: 150px;
  width:150px ;
}

.about-content {
            position: relative;
            z-index: 5;
           /* max-width: 800px; */
             text-align: center;
            margin-top: 20px;
            height:400px;
            background: linear-gradient(to right, #3f3d3d, #fad0c4);
            background-image: url('section.png');
            opacity: 0.85;
            background-blend-mode: darken;
            background-size:cover;
            background-position: center;
        }
.about-content h1 {
            color: white;
            font-size: 64px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 30px;
            text-shadow: 2px 2px 20px yellow;
        }
.about-content p {
            color: rgba(255, 255, 255, 0.9);
            font-size: 39px;
            line-height: 1.6;
            margin-bottom: 40px;
            /* max-width: 600px; */
        }
.about-content h3{
          font-size:25px ;
          color: white;
        }
p{
          font-size: 30px;
        }

.story{
         display: flex;
         grid: 30px;
         height: 600px;
         justify-items: space-around;

}
.str1{
        height: 500px;
        width:38%;
        margin:3% 5% 3% 5%;
        padding:3% 5% 3% 5%;
        background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
        overflow: scroll;

}
.str2{
        height: 500px;
        width:45%;
        margin:3% 5% 3% 5%;
      }
.str1,h2{
        font-size: 40px;
        color: white;
}
.pi{
        font-size: 30px;
        color: white;
}
.img2{
        height: 500px;
        width: 600px;
}

.trainer{
        height: 500px;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        gap:50px;
        padding: 30px 5px 0 60px;
        
}
.our{
  font-size: 40px;
  color: white;
  text-align: center;
  margin-top:60px;
  font-weight: normal;
}
.trainers{
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background: linear-gradient(135deg, #1a1a2e 0%, #16213e 50%, #0f3460 100%);
}
.tra{
  height: 280px;
  width: 400px;
  object-fit: cover;
  background-size:cover;
  background-position: center;
}
.trainers, h3{
  font-size: 20px;
  color: white;
  text-align: center;
   line-height: 2;
}
footer{
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}
.btom1,.btom2{
  width: 30%;
  line-height: 2;
  text-align: justify;
  padding:3% 0 0 5%;
}
.btom3{
  padding:3% 0 0 3%;
  width: 30% ;
}
h1{
  padding: 0 0 0 6%;
  font-size: 40px;
}
h2{
  line-height: 2;
  font-size: 40px;
}
p{
  font-size: 30px;
}
.hu{
  margin-left:3%;
  line-height: 2;
  font-size: 40px;
}
a{
  text-decoration: none;
  color: white;
}