body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 50px;
  font-family: Arial;
  background-color:rgba(246,215,215,1);
}
.container{
  display:grid;
  grid-template-columns: repeat(1,minmax(50px,auto));
  border:2px solid white;
  border-radius:7px;
  width:400px;
  padding:20px;
  gap:5px;
}
.container h3{
  text-align:center
}
.container button{
  margin-top:3%;
  height:45px;
  background-color:blue;
  color:white;
  border-radius:10px;
}
button:hover{
  background-color:red;
  color:white;
}
.container input{
  height:40px;
  border-color:red;
  border-radius:15px;
  padding-left:20px;
  margin-bottom:6%;
}
.container div{
  display:flex;
  justify-content: space-between;
}


.options{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.remember{
  display:flex;
  align-items:center;
  gap:5px;
  font-size:14px;
}

.forget{
  font-size:14px;
  text-decoration:none;
  color:#007bff;
}